<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My First Website</title>

    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
    <header>
        <h2>Header</h2>
    </header>

    <nav class="navbar">
        <ul>
            <li><a href="home.html">Login</a></li>
             <li><a href="index.html">Order</a></li>
            <li><a href="htt.html">About</a></li>
           
        </ul>

    </nav>
    <main>
        <aside>
            <h2>Phone number</h2>
            <p>+9165894xxxxx</p>
            <p>+9187494xxxxx</p>
        </aside>
        <section>
            <h2>Address</h2>
            <p>Central Building</p>
            <p>Kazhakootam,India</p>
        </section>
        <article>
            <h2>Email</h2>
            <p>wwww@yahoo.com</p>
            <p>gggg@google.com</p>
        </article>
        <div></div>

        
    </main>
    <footer>
            <h2>&copy; 2026 Company. All Rights Reserved</h2>
    </footer>

</body>
</html>