*{
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
    
}
h2{
    text-align: center;
}

.input-box{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin-bottom: 100px;
    
    
}
.input-box input{
    padding: 5px;
    width:250px;
    margin-bottom: 10px;
}

.input-box button{
    padding: 10px 15px;
    background-color: grey;
    border:none;
    cursor:pointer;
}

.input-box button:hover{
    background-color: black;
    color:white;
}
/*.dashboard{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    margin: auto;
    background: white;
    border-radius: 8px;
    margin-top: 30px; 
} */
.navbar{
    background-color: hsl(0, 0%, 15% );
    height: 50px;
}
.navbar ul{
    list-style-type: none;
    background-color: grey;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
table{
    width:100%;
    margin-top : 20px;
    border-collapse:collapse;
}
th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.navbar a:hover{
    background-color: hsl(0, 0%, 10% );
}
.navbar li{
    float: left;
}
.header {
    background-color: #2c3e50;
    color: white;
    font-weight: bold;
}
@media screen and (max-width:600px){
    aside, section, article{
        width: 100%;
    }
}